name: generate README

on:
  push:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: yarn install
        run: yarn install

      - name: build
        run: yarn run build

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: generate README
